<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Waking Soundly</title>
    <link rel="stylesheet" type="text/html">
    <link href="https://fonts.googleapis.com/css?family=Courgette|IBM+Plex+Serif|Merienda+One|Noto+Serif+JP&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'frontend/index.css' %}">
    <script src="{% static 'frontend/beepbox_playback.js' %}"></script>
</head>
<body class="body_default">
    <div id="app"></div>

    {% load static %}
    <script src="{% static 'frontend/main.js' %}"></script>
</body>
</html>